<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type='text/css' href="../stylesheets/style.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <!-- load angular -->
    <script src="../javascripts/controller2.js"></script>

</head>

<body ng-controller="pblmController">
    <div class="container">
        <table>
            <tr>
                <h2>Sagar Giri</h2>
            </tr>
            <tr>
                <h3>1001746582</h3>
            </tr>
            <tr>
                <h3>Assignment 2</h3>
            </tr>
            <tr>
                <h3>Use the above navigation tabs for Assignment Questions</h3>
            </tr>
        </table>
    </div>

</body>

</html>