<!DOCTYPE html>
<html ng-app="routesApp">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type='text/css' href="../stylesheets/style.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <!-- load angular -->
    <script src="../javascripts/controller2.js"></script>

</head>

<body ng-controller="quiz2Controller">
    <table>
        <tr>
            <h2>Sagar Giri</h2>
        </tr>
        <tr>
            <h3>1001746582</h3>
        </tr>
        <tr>
            <h3>Quiz 2</h3>
        </tr>

        <img src="../images/s.jpg" style="width:100px;height:100px;">
    </table>
    <h4>Count: {{countQ}}</h4>
    <h4>location : {{location}}
    </h4>
    <h4> id: {{id}}
    </h4>

    <div class="container">
        <table>
            <tr>
                <td><label for=" quakes ">Provide Location 1</label>
                </td>
            </tr>

            <tr>
                <td><input type="text" name="etLatitude1" id="etLatitude1" placeholder="Provide latitude of location1" ng-model="etLatitude1"></input>
                </td>
            </tr>

            <tr>
                <td><input type="text" name="etLongitude1" id="etLongitude1" placeholder="Provide Longitude of location 1" ng-model="etLongitude1"></input>
                </td>
            </tr>
            <td><label for=" quakes ">Provide Location 2</label>
            </td>
            </tr>
            <tr>
                <td><input type="text" name="etLatitude2" id="etLatitude2" placeholder="Provide latitude of loc 2" ng-model="etLatitude2"></input>
                </td>
            </tr>

            <tr>
                <td><input type="text" name="etLongitude2" id="etLongitude2" placeholder="Provide Longitude of loc 2" ng-model="etLongitude2"></input>
                </td>
            </tr>
            <tr>
                <td><input type="text" name="etRange" id="etRange" placeholder="Provide Range" ng-model="etRange"></input>
                </td>
            </tr>
            <td><button type="button" id="eqCountInRange" ng-click="findEqInRange()">Get EarthQuakes Count btn 2 locs Range</button></td>
            </tr>
        </table>
        <table>
            <tr>
                <td><input type="text" name="name" id="name" placeholder="name" ng-model="name"></input>
                </td>
            </tr>
            <tr>
                <td><input type="text" name="etRange" id="number" placeholder="" ng-model="number"></input>
                </td>
            </tr>
            <td><button type="button" id="finddata" ng-click="findData()">Get EarthQuakes Count btn 2 locs Range</button></td>
            </tr>
        </table>
    </div>

    <table ng-show="showGrid">
        <tr>
            <td>Latitude</td>
            <td>Longitude</td>
            <td>mag</td>
            <td>place</td>
            <td>depth</td>
            <td>time</td>
        </tr>

        <tr ng-repeat="x in displayData">
            <td>{{x.latitude}}</td>
            <td>{{x.longitude}}</td>
            <td>{{x.mag}}</td>
            <td>{{x.place}}</td>
            <td>{{x.depth}}</td>
            <td>{{x.time}}</td>
            <!-- <td>
                <div ng-init="myVar = '../images/' + x.Picture">
                    <img ng-src="{{myVar}}">
                </div> 
            </td>-->
        </tr>
    </table>
    <h4>Number of quakes: {{countQuake}}</h4>
</body>

</html>